* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header {
    position: fixed;

    nav {

        .nav-content {
            display: flex;
            list-style: none;

            .nav-link {
                margin: 10px;

                a {
                    color: black;
                    text-decoration: none;
                    transition: color 0.5s ease, transform 0.7s ease;
                } 
                
                a:hover {
                    color: rgb(151, 151, 151);
                }
            }
        }
    }
} 

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .notes-list {
        list-style: none;
        position: absolute;
        top: 50px;
    
        li {
            width: 100vw;
            padding: 8px 10px;
            border-width: 0 0 0.3px 0;
            border-color: black;
            border-style: solid;
            cursor: pointer;
        }

        li:hover {
            color: rgb(151, 151, 151);
        }

        .edit-btn, .delete-btn {
            position: absolute;
            right: 85px;
            padding: 2px 5px;
            background: none;
            border: 0.5px solid black;
            cursor: pointer;
        }

        .delete-btn {
            position: absolute;
            right: 30px;
        }
    }

    .note-details {

        h2 {
            margin: 10px;
        }

        p {
            margin: 10px;
        }
    }

    h2 {
        margin: 10px;

    }

    .note-title {
        margin: 10px;
        width: 500px;
        padding: 5px;
    }

    .text-content {
        margin: 10px;
    }

    div {
        margin: 10px;
    }

    .save-btn {
        margin: 10px;
        width: 80px;
        height: 25px;
        background: none;
        border: 0.5px solid black;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .save-btn:hover {
            background-color: #d9d9d9; 
    }
        
    .save-btn:active {
            transform: scale(0.80); 
    }

    .text-result {
        margin: 15px;
    }

    .login-container, .register-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .register-form, .user-form {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                width: 300px;
                padding: 3px;
                margin: 5px;
            }
        }

        button {
            margin: 10px;
            width: 80px;
            height: 25px;
            background: none;
            border: 0.5px solid black;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }
    
        button:hover {
                background-color: #d9d9d9; 
        }
            
        button:active {
                transform: scale(0.80); 
        }
    }

    .already-have-account, .register-link {
        margin: 10px;
        align-self: center;
    }

    .welcome-heading {
        margin-bottom: 20px;
    }

}

#notification {
    position: relative;
    bottom: 30px;
    padding: 10px;
    border-radius: 5px;
}

.success {
    background-color: #4CAF50; 
    color: white;
}

.error {
    background-color: #f44336;
    color: white;
}


